*{
    margin: 0;
    padding: 0;
}

.flex-parent{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}

.flex-child{
    background-color: pink;
    width: 500px;
    height: 500px;
    padding: 10px;
    margin: 10px;
   
}